@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', Verdana, sans-serif;
}
img{
    display: block;
    max-width: 100%;
}
ul,
ol,
menu{
    list-style: none;
}
a{
    color: currentColor;
    display: inline-block;
    text-decoration: none;
}
button{
    border: 0;
    color: currentColor;
    background-color: transparent;
}
:root{
    --bg-col: #141922;
    --bg-nav-col: #080B12;
    --bg-tool-col: #282828;
    --bg-side-col: #000;
    --fg-col: #fff;
    --fg-deselect: #717171;
    --fg-select-decoration: #ADFF2F;
}
/* 
    Layout
*/
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-col);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    display: flex;
    flex-direction: column;
}
/* 
    Debug 
*/
.toolbar .row > .col{
    padding: 20px;
    border: 2px solid var(--fg-col);
}
/* 
.col > *{
    padding: 20px;
    border: 2px solid var(--fg-select-decoration);
} */
/* 
    Components
*/
.upcase{
    text-transform: uppercase;
}
.button{
    padding: 0 2.5rem;
    line-height: 2.5rem;
    border: 2px solid currentColor;
}
.round{
    border-radius: 1.3rem;
}
.side-bar .side-nav .nav-menu .item-link.active{
    opacity: 1;
    font-weight: bold;
}
/* 
    App
 */
.app{
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
}
/* Side Header */
.app .side-bar{
    display: flex;
    flex-basis: 50px;
    padding-top: 5px;
    color: var(--fg-col);
    background-color: var(--bg-side-col);
}
.app .side-bar > .row{
    flex-grow: 1;
    justify-content: center;
}
.side-bar > .row .col{
    align-items: center;
}
.side-bar .logo{
    padding-bottom: 1rem;
}
.side-bar .side-nav{
    flex-grow: 1;
}
/* Nav Menu */
.side-bar .side-nav .nav-menu .menu-item{
    position: relative;
}
.side-bar .side-nav .nav-menu .item-link{
    gap: 8px;
    opacity: 0.8;
    display: flex;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    letter-spacing: 1px;    
    align-items: center;
    justify-content: center;
}
/* Accont */
.side-bar .profile img{
    height: 25px;
    padding: 0 2px;
    border-radius: 50%;
    color: var(--fg-col);
    background-color: var(--fg-deselect);
}
.side-bar .account > .col .row{
    gap: 0.75rem;
    padding: 0.75rem 0;
    align-items: center;
}
/* Side Bar Display OFF */
.side-bar > .row .playlist,
.side-bar > .row .logo-lg,
.side-bar .section-nav .nav-list,
.side-bar .item-link .item-link-txt{
    display: none;
}
/* End Side Bar Display OFF */
/* Header App */
.header-plan{
    display: flex;
    padding: 0 5px;
    min-height: 90px;
    align-items: center;
    color: var(--fg-col);
    background-color: var(--bg-nav-col);
}
.plan{
    margin-left: auto;
    font-weight: 600;
    text-align: center;
}
/* Main Container  */
.main-container{
    flex-grow: 1;
    flex-basis: 0;
    background-color: var(--bg-col);
}
/* 
    Toolabr
 */
.toolbar{
    min-height: 90px;
    background-color: var(--bg-tool-col);
}
.toolbar .row{
    height: 100%;
    align-items: center;
}
.toolbar .row .col{
    flex-basis: 0;
    min-width: 50px;
}
.toolbar .player{
    flex-grow: 1;
    flex-basis: 0;
}
/* 
    Responsive 
*/
@media screen and (min-width: 550px){
    /* Components */
    .active::before{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: '';
        height: 2rem;
        width: 3px;
        background-color: var(--fg-select-decoration);
    }
    .separe::after{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        content: '';
        height: 1px;
        width: 190px;
        background-color: var(--fg-deselect);
    }
    /* Side Header */
    .app .side-bar{
        padding-top: 20px;
        flex-basis: 230px;
    }
    .app .side-bar > .row {
        justify-content: flex-start;
    }
    .app .side-bar > .row .col{
        align-items: flex-start;
    }
    .side-bar .side-nav{
        flex-grow: 0;
    }
    .side-bar .logo,
    .side-bar .playlist,
    .side-bar .account{
        padding-left: 20px;
    }
    .side-bar .side-nav .nav-menu .item-link{
        padding: 5px 0 5px 20px;
    }
    /* Playlist */
    .side-bar .playlist-head{
        padding: 1.4rem 0;
    }
    .side-bar .playlist-head .head-title{
        font-weight: bold;
    }
    .side-bar .playlist-head .head-button{
        padding: 15px 0 0;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .side-bar .playlist-head .head-button::before{
        content: '+';
        display: block;
        padding: 0 10px;
        font-size: 30px;
        padding-top: 3px;
        color: var(--bg-side-col);
        background-color: var(--fg-deselect);
    }
    .side-bar .side-list .menu-item{
        padding-bottom: 1.4rem;
    }
    .side-bar .playlist-head .head-button,
    .side-bar .side-list .menu-item,
    .side-bar .account > .col .download{
        font-size: 1rem;
        opacity: 0.7;
    }
    /* Account */
    .side-bar .account > .col .download{
        position: relative;
    }
    .side-bar .account > .col .profile{
        font-weight: bold;
    }
    /* Side Bar Display Off and On */
    .side-bar > .row .logo-lg{
        display: block;
    }
    .side-bar > .row .logo-sm{
        display: none;
    }
    .side-bar > .row .playlist{
        flex-grow: 1;
        display: block;
    }
    .side-bar .item-link .item-link-txt{
        display: block;
    }
    /* Side Bar Display Off and On */
    /* 
        Toolabr
     */
    .toolbar .row .col{
        flex-basis: 180px;
    }
}